.board {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
}

.board .row {
    border: solid 1px black;
    flex-grow: 1;
    display: flex;
    border: solid 1px black;
}

.board .row .tile {
    flex-grow: 1;
    border: solid 1px black;

}